.row { 
	display: flex; 
} 

.box { 
	width: 100px; 
	height: 100px; 
} 

.black { 
	background-color: rgb(176, 199, 99); 
} 

.white { 
	background-color: rgb(71, 131, 221); 
} 

.navigator {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
}

.joystick-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  background-color: #ccc; /* Box background color */
  border-radius: 10px; /* Border radius for rounded corners */
  padding: 10px; /* Padding for inner elements */
}

.nav-button {
  width: 40px; /* Adjust the button size */
  height: 40px; /* Adjust the button size */
  margin: 5px; /* Adjust the spacing between buttons */
  background-color: #fff; /* Button background color */
  border: 1px solid #999; /* Button border */
  cursor: pointer;
}
